<div class="container">
  <h1>Put it in your URLockbox<h1>

    <div class="container">
      <% if !current_user %>
        <%= link_to "Log In", "login_path" %> |
        <%= link_to "Sign Up", "users/new" %>
      <% end %>
  </div>
